.crop {
    overflow: hidden;
    text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     line-clamp: 2;
     -webkit-box-orient: vertical;
     height: 50px;
}
.style-img-detail {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.button-login {
    text-align: center;
    width: 300px;
}
.input-login {
    width: 300px;
}
.form-login{
    display: inline-block;
    /* border: groove;
    border-radius: 10%; */
    padding: 50px;
    
}
.form-signup {
  display: inline-block;
    /* margin-left: 270px; */ 
    /* margin-top: 80px; */
    padding: 20px;
    /* min-width: 600px; */
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    color: black;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.policy {
  border-right:1px solid white
}
.zoom {
    transition: transform .2s; /* Animation */
}
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  .search-container {
    background-color: black;
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
    margin-top: 10px;
    width: 250px;
  }
  .search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 15px;
    border: 0;
    width: 100%;
  }
  .search-button {
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    border: 0;
    color: #FFF;
    width: 35px;
    height: 35px;
    outline: 0;
  }

  .cart-image {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  i {
    margin-right: 5px;
    color: white;
  }
/*CSS giỏ hàng*/
  .cart-count {
    position: absolute;
    padding: 0 4px;
    display: flex;
    justify-content: center;
    right: 4px;
    top: 10%;
    left: 60%;
    background-color: #C00;
    border-radius: 50%;
    transform: translate(0%, -50%);
    border: 0;
    color: #FFF;
    width: 20px;
    height: 20px;
    outline: 0;
    align-items: center;
  }

  /*CSS Button to top*/
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    background: green;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
  }
  
  .back-to-top:hover {
    background: red;
  }
